@import "tailwindcss";

:root {
  --bg: #f7f4ee;
}

body {
  background: var(--bg);
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-playfair);
}

html {
  scroll-behavior: smooth;
}